@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
    string nome = "neimar";
    int idade= 20 ;
    string curso= "Desenvolviento .Net";
    string estabelecimento= "Avança tech";
}

<p>@nome tem ,@idade e faz o @curso no @estabelecimento </p>