@page
@model tcc_neimar.Pages.ExcluirUsuarios


<div class="container mt-5">
    <h1 class="text-danger mb-4"> Excluir Usuario </h1>


    <div class="alert alert-danger"> Tem certeza que deseja excluir o Usuario? </div>


    <form method="post">
        <input asp-for="Usuarios.Id" type="hidden">


        <div class="mb-3">
            <label class="form-label"> Nome </label>
            <input asp-for="Usuarios.Nome" class="form-control" readonly>
        </div>


        <div class="mb-3">
            <label class="form-label"> Idade </label>
            <input asp-for="Usuarios.Idade" class="form-control" readonly>
        </div>


        <div class="mb-3">
            <label class="form-label"> Sexo </label>
            <input asp-for="Usuarios.Sexo" class="form-control" readonly>
        </div>


        <div class="mb-3">
            <label class="form-label"> Telefone </label>
            <input asp-for="Usuarios.Telefone" class="form-control" readonly>
        </div>

        <div class="mb-3">
            <label class="form-label"> Email </label>
            <input asp-for="Usuarios.Email" class="form-control" readonly>
        </div>

        <div class="mb-3">
            <label class="form-label"> Patologia </label>
            <input asp-for="Usuarios.Patologia" class="form-control" readonly>
        </div>
        <div class="mb-3">
            <label class="form-label"> Tipo da Patologia </label>
            <input asp-for="Usuarios.TipoPatologia" class="form-control" readonly>
        </div>

        <div class="mb-3">
            <label class="form-label"> Tipo do exame </label>
            <input asp-for="Usuarios.TipoExame" class="form-control" readonly>
        </div>

        <div class="mb-3">
            <label class="form-label"> Resultado </label>
            <input asp-for="Usuarios.Resultado" class="form-control" readonly>
        </div>

        


        <button class="btn btn-danger"> Confirmar Exclusão </button>


        <a href="/Usuarios" class="btn btn-secondary"> Cancelar </a>
    </form>
</div>
