@page


<div class="banner">
    <section class="container">
        <h1>Sua dose diaria de saude </h1>
        <p>aqui você tem informações uteis sobre seus exames</p>
        <p>e também dicas uteis para uma qualidade de vida melhor</p>
    </section>

</div>
