@{
    string nome = "João";
    int idade = 18;

    if (idade >= 18)
    {
        <p>Maior de Idade</p>
    }
    else
    {
        <p>Menor de Idade</p>
    }
    for(int i =1;i<=10;i++)
    {
        <p>Numero :@i</p>
    }
}




<span>@nome</span>
<span>@idade anos</span>

<form ><br>
    <label>Nome do Aluno</label><br>
    <input type="text" placeholder="Nome do Aluno"><br>

    <label>Idade</label><br>
    <input type="number" placeholder="Idade"><br>

    <label >E-mail</label>
    <input type="email" placeholder="digite e-mail"

    <label>curso</label><br>
    <select name="cursos" id="cursos"><br>
        <option value="asp.net">Asp.net</option><br>
        <option value="react">React</option><br>
        <option value="games">Games</option><br>
        <option value="java">java</option><br>
        
    </select>


</form>