@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header class="primeiro">
    <img src="./imagens/escolaPronto.png" alt="logo escola" class="logo">
    <h1>Escola Modelo</h1>
    <p>a Nossa escola ela é semelhante ao avança tech , o primeiro exercicio do polo 5 </p>
</header><br>

<div class="botao">
    <button class="botao1" >entre</button>
</div>