@page

<section class="container1">
<h1> este é um projeto para formação de profissionais back and</h1>

<ul>

<li class="estilo">informaçoes sobre o projeto</li>
<li class="estilo">Nome do aluno</li>
<li class="estilo">o que aprendeu</li>
<li class="estilo">lista de tecnologias usadas</li>

</ul>
</section>
